* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 5vw; /* Responsif berdasarkan ukuran layar */
}
